@import url(reset.css);

body {
    max-width: 1360px;
    padding: 0% 3% 0% 3%;
}

main {
    display: flex;
    flex-direction: column;
}

/*.borda {
    border: 2px solid #0c0c08;
}*/

/* ======================  header*/
.header {
    max-width: 100%;
    padding: 20px;
    background-image: url(../image/Header-Background.png);
}

.header h1 {
    font-family: "Luckiest Guy", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 32px;
    color: rgb(255, 255, 255);
    margin: 30px 0px 20px 0px;
    line-height: 32px;
}

.header p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: aliceblue;
    margin: 20px 0px 20px 0px;
    line-height: 21px;
}

.botao1 {
    font-size: 16px;
    width: 100%;
    height: 54px;
    background-color: #fff;
    border-radius: 28px;
}

.botao2 {
    font-size: 16px;
    width: 100%;
    height: 54px;
    background-color: #201f1f;
    border-radius: 28px;
    color: #ffffffb0;
    margin: 15px 0px 20px 0px;
}

/* ******************************** FIM header*/
.container-1 img {
    width: 95%;
    height: auto;
    margin: 40px 10px;
}

.container-1 h1 {
    margin: 5px 0px 5px 5px;
    padding: 10px;
    font-weight: 800;
    font-size: 24px;
}

.container-1 p {
    margin: 10px 10px 10px 10px;
    padding: 10px;
    font-weight: 400;
    font-size: 16px;
}

/* ======================  CONTAINER 2*/
.container-2 img {
    width: 15%;
    height: auto;
    margin: 40px 10px;
}

.container-2 h1 {
    text-align: right;
    margin: 5px 0px 5px 5px;
    padding: 10px;
    font-weight: 800;
    font-size: 24px;
}

.container-2 p {
    text-align: right;
    margin: 10px 10px 10px 10px;
    padding: 10px;
    font-weight: 400;
    font-size: 16px;
}

/* ******************************** FIM CONTAINER 2*/
/* ======================  CONTAINER 3*/
.container-3 img {
    width: 95%;
    height: auto;
    margin: 40px 10px;
}

.container-3 h1 {
    margin: 5px 0px 5px 5px;
    padding: 10px;
    font-weight: 800;
    font-size: 24px;
}

.container-3 p {
    margin: 10px 10px 10px 10px;
    padding: 10px;
    font-weight: 400;
    font-size: 16px;
}

/* ******************************** FIM CONTAINER 3*/
.titulo-p {
    margin: auto;
}

.titulo-p h1 {
    max-width: 100%;
    text-align: center;
    font-family: "Luckiest Guy", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 32px;
    color: rgb(8, 8, 8);

    line-height: 32px;
}

.titulo-p p {
    text-align: center;
    margin: 10px 10px 0px 10px;
    padding: 10px;
    font-weight: 400;
    font-size: 16px;
}

.img-inferior img {
    margin: auto;
    width: 90%;
    height: auto;
    padding: 15px;
}

footer {
    width: auto;
    height: auto;
    background-color: #23272A;
}

.rodape {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 160px;
}

.discord {
    max-width: 100%;
    max-height: 100%;
}

/* ================================ media querie para larguar 820px X 1280px*/
@media screen and (min-width: 820px) and (max-width: 1280px) {
    .header {
        max-width: 100%;
        padding: 20px;
        background-image: url(../image/HeaderBG-XX.png);
    }

    .header h1 {
        margin: auto;
        max-width: 40%;
        height: auto;
        line-height: 100%;
        margin-top: 5%;
        text-align: center;
        font-weight: 400;
        font-style: normal;
        font-size: 52px;
    }

    .header p {
        margin: 2% auto 2% auto;
        max-width: 60%;
        text-align: center;
    }

    .container-1,
    .container-3 {
        display: grid;
        grid-template-columns: 60% 40%;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "parte-1 parte-2"
            "parte-1 parte-3"
    }

    .container-2 {
        display: grid;
        grid-template-columns: 35% 60%;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "parte-2 parte-1"
            "parte-3 parte-1"
    }

    .item-1 {
        grid-area: parte-1;
    }

    .item-1 img {
        width: 100%;
        padding: 10px;
    }

    .item-2 {
        padding: 10px;
        grid-area: parte-2;
    }

    .item-2 h1 {
        margin-top: 15%;
        font-size: 3vw;
    }

    .item-3 {
        grid-area: parte-3;
    }

    .item-3 p {
        margin-bottom: 20%;
        padding: 10px;
    }

    .container-botoes {
        display: flex;
        justify-content: center;
    }

    .botao1,
    .botao2 {
        width: 30%;
        margin: 2% 1% 5% 1%;
    }

    .titulo-p {
        margin: auto;
    }
    
    .titulo-p h1 {
        margin: auto;
        max-width: 50%;
        height: auto;
        text-align: center;
        font-family: "Luckiest Guy", cursive;
        font-weight: 400;
        font-style: normal;
        font-size: 32px;
        color: rgb(8, 8, 8);
        line-height: 32px;
    }
    
    .titulo-p p {
        max-width: 70%;
        text-align: center;
        margin: auto;
        padding: 10px;
        font-weight: 400;
        font-size: 16px;
    }

    .img-inferior {
        display: flex;
        justify-content: center;
        max-width: 70%;
        margin: auto;
    }    
    
}

@media screen and (min-width: 1281px) {
    .header {
        max-width: 100%;
        height: auto;
        padding: 20px;
        background-image: url(../image/HeaderBG-XX.png);
    }

    .header h1 {
        margin: auto;
        max-width: 40%;
        height: auto;
        line-height: 100%;
        margin-top: 5%;
        text-align: center;
        font-weight: 400;
        font-style: normal;
        font-size: 52px;
    }

    .header p {
        margin: 2% auto 2% auto;
        max-width: 60%;
        text-align: center;
    }

    .container-botoes {
        display: flex;
        justify-content: center;
    }

    .botao1,
    .botao2 {
        width: 30%;
        margin: 2% 1% 5% 1%;
    }

    .container-1,
    .container-3 {
        margin: auto;
        width: 80%;
        display: grid;
        grid-template-columns: 60% 40%;
        grid-template-rows: 0.5fr 0.5fr;
        grid-template-areas: "parte-1 parte-2"
                             "parte-1 parte-3"
    }

    .container-2 {
        margin: auto;
        width: 80%;
        display: grid;
        grid-template-columns: 35% 60%;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "parte-2 parte-1"
                             "parte-3 parte-1"
    }

    .item-1 {
        grid-area: parte-1;
    }

    .item-1 img {
        width: 100%;
        padding: 10px;
    }

    .item-2 {
        padding: 10px;
        grid-area: parte-2;
    }

    .item-2 h1 {
        margin-top: 15%;
        font-size: 3vw;
    }

    .item-3 {
        grid-area: parte-3;
    }

    .item-3 p {
        margin-bottom: 10%;
        padding: 10px;
        font-size: 16px;
    }

    .titulo-p {
        margin: auto;
    }
    
    .titulo-p h1 {
        margin: auto;
        max-width: 50%;
        height: auto;
        text-align: center;
        font-family: "Luckiest Guy", cursive;
        font-weight: 400;
        font-style: normal;
        font-size: 32px;
        color: rgb(8, 8, 8);
        line-height: 32px;
    }
    
    .titulo-p p {
        max-width: 70%;
        text-align: center;
        margin: auto;
        padding: 10px;
        font-weight: 400;
        font-size: 16px;
    }

    .img-inferior {
        display: flex;
        justify-content: center;
        max-width: 70%;
        margin: auto;
    } 
}

/* **************************** FIM media querie para larguar 820px X 1280px*/